/* GENERAL */

:root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-active: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --color-msg-bar: #f3eeea;
    --background: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* APP */

#app{
    background: var(--background);
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em
}
#left-contacts{
    background-color: var(--color-white);
}
.headers{
    background-color: var(--color-headers);
}
#notifications{
    background-color: var(--color-notification);
}
#main-chat{
    background-image: url(../img/mine.jpg);
    background-size: contain;
}
#msg-bar{
    height:70px;
    background-color: var(--color-msg-bar);
}
img{
    width:60px;
    border-radius: 50%;
    overflow:hidden;
}
.contact-name{
    font-weight: 500;
    margin-left: 5px;
    font-size: 1.2em;
}
.icons-group{
    color: var(--color-light-icons);
    font-size: 1.3em;
}
.notify-icon{
    color:var(--color-notification);
    background-color: var(--color-white);
    border-radius: 50%;
    font-size: 20px;
    padding: 15px 12px;
}
.s-underline{
    text-decoration: underline;
    color:var(--color-dark-grey);
    font-size: 0.8em;
}
.recive-notify{
    font-weight: 500;
}

/* utility */

.h0{
    height: 0;
}