/* GENERAL */

:root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-active: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --color-msg-bar: #f3eeea;
    --background: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* APP */

#app{
    background: var(--background);
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em
}
#left-contacts{
    background-color: var(--color-white);
}
.headers{
    background-color: var(--color-headers);
}
#notifications{
    background-color: var(--color-notification);
}
#chat-wrapper{
    background-image: url(../img/mine.jpg);
    background-size: contain;
}
#msg-bar{
    height:70px;
    background-color: var(--color-msg-bar);
}
img{
    width:60px;
    border-radius: 50%;
    overflow:hidden;
}
.my-name{
    margin-left: 5px;
    font-size: 1.2em;
}
.icons-group{
    color: var(--color-light-icons);
}
.notify-icon{
    color:var(--color-notification);
    background-color: var(--color-white);
    border-radius: 50%;
    padding: 15px 12px;
}
.s-underline{
    text-decoration: underline;
    color:var(--color-dark-grey);
    font-size: 0.8em;
}
i{
    font-size: 1.3em;
}
#msg-bar > i{
    color:var(--color-dark-grey)
}
.last-message{
    color: var(--color-text-grey);
    font-size: 0.8em;
}
.last-access{
    font-size: 0.8em;
    color:var(--color-dark-grey)
}
.contact-name{
    font-size: 1.3em;
}
.recive-notify, .contact-name, .my-name , .msg{
    font-weight: 500;
}
#main-chat{
    width: 80%;
    margin:0 auto;
}
.msg{
    width: 40%;
    border-radius: 12px;
}
.active{
    background-color:var(--color-contact-active)
}
i , .s-underline , .contact-hover:hover{
    cursor:pointer
}
.msg-date{
    right:0;
    top:0;
    font-size: 0.7em;
}
.fa-angle-down:hover{
    cursor:pointer;
}
/* utility */

.h0{
    height: 0;
}
.sent{
    background-color: var(--color-sent-message);
    align-self: flex-end;
    margin-bottom: 10px;
}
.received{
    background-color: var(--color-white);
}
.br-visible{
    border-right: 1px solid var(--color-light-icons);
}
